md-backdrop.md-sidenav-backdrop {
    z-index: 48;
}


/*
body {
    overflow-y: auto;
}

html.element-active body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
*/

html.fs-drawer-active {
    overflow: auto !important;
}

fs-drawer {
    display: none;
}

fs-drawer.fs-drawer-open {
    display: block;
}

fs-drawer .resizable {
    position: relative;
}

fs-drawer .resizable.no-transition {
    transition: none !important;
}

fs-drawer .rg-right,
fs-drawer .rg-left,
fs-drawer .rg-top,
fs-drawer .rg-bottom {
    display: block;
    width: 35px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    z-index: 1;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: transparent;
    margin-left: 0;
}

fs-drawer .rg-right span,
fs-drawer .rg-left span,
fs-drawer .rg-top span,
fs-drawer .rg-bottom span {
    position: absolute;
    box-sizing: border-box;
    display: block;
    border: 1px solid #ccc;
}

fs-drawer .rg-right span,
fs-drawer .rg-left span {
    border-width: 0 1px;
    top: 50%;
    margin-top: -10px;
    margin: -10px 0 0 14px;
    height: 20px;
    width: 7px;
}

fs-drawer .rg-top span,
fs-drawer .rg-bottom span {
    border-width: 1px 0;
    left: 50%;
    margin: 3.5px 0 0 -10px;
    width: 20px;
    height: 7px;
}

fs-drawer .rg-top {
    cursor: row-resize;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: -14px;
}

fs-drawer .rg-right {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    margin-right: -14px;
}

fs-drawer .rg-bottom {
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -14px;
}

fs-drawer .rg-left {
    cursor: col-resize;
    height: 100%;
    left: 0;
    top: 0;
}

fs-drawer .drawer {
    width: 800px;
    position: fixed;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    top: 0;
    bottom: 0;
    right: 0px;
    z-index: 75;
    background-color: #fff;
    min-width: 350px;
}

fs-drawer .drawer .drawer-actions .drawer-action {
  text-decoration: none;
}

fs-drawer .drawer .drawer-actions {
    border-right: 1px solid #efefef;
}

fs-drawer .drawer .drawer-actions .selected md-icon {
    background-color: #ddd;
}

fs-drawer .drawer .drawer-actions md-icon {
    display: block;
    padding: 6px 4px 0 4px;
    position: relative;
    z-index: 99;
    padding: 5px;
    background: #fff;
}

fs-drawer .drawer .drawer-actions a:first-child md-icon {
    margin-top: 7px;
}

fs-drawer .drawer .fs-drawer-wrap,
fs-drawer .drawer .pane-side,
fs-drawer .drawer .pane-main {
    height: 100%;
}

fs-drawer .drawer .pane-main {
    min-width: 350px;
}

fs-drawer .drawer .fs-drawer-wrap {
    overflow-y: auto;
    padding: 13px;
    box-sizing: border-box;
}

fs-drawer .drawer .pane-side {
    border-right: 1px solid #efefef;
    margin-right: 20px;
    display: none;
    height: 100%;
    min-width: 350px;
    position: relative;
}

fs-drawer.fs-drawer-side-open .drawer .pane-side {
    display: block;
}

fs-drawer.fs-drawer-side-open .drawer {
    min-width: 735pspecpx;
}

fs-drawer .drawer .pane-side .rg-right {
    margin-right: -35px;
}

fs-drawer .drawer-actions {
    white-space: nowrap;
}

fs-drawer .drawer-actions .md-button.md-icon-button {
    margin: 0;
}
