<div resizable r-directions="['left']" class="drawer" id="fs-pane-main" ng-style="drawerStyle">
    <div layout="row" layout-fill>
        <div class="drawer-actions">
            <a href ng-click="closeDrawer()" class="drawer-action">
                <md-icon>close
                <md-tooltip md-direction="left">Close</md-tooltip>
                </md-icon>
            </a>
            <a href ng-click="actionClick(action)" class="drawer-action {{action.class}}" ng-repeat="action in options.actions" ng-show="actionShow(action, $event)">
                <md-icon>{{action.icon}}
                    <md-tooltip md-direction="left">{{action.tooltip}}</md-tooltip>
                </md-icon>
            </a>
        </div>
        <div resizable r-directions="['right']" r-flex="true" ng-style="sideDrawerStyle" id="fs-pane-side" class="pane-side {{options.sideClass}}">
            <div class="fs-drawer-wrap"></div>
        </div>
        <div flex class="pane-main {{options.mainClass}}">
            <div class="fs-drawer-wrap"></div>
        </div>
    </div>
</div>
