<div class="links">
	<a href ng-click="open()">Open</a>
	<a href ng-click="openSecond()">Open Second</a>
	<a href ng-click="openSide()">Open Side</a>
	<a href ng-click="toggleSide()">Toggle Side</a>
	<a href ng-click="close()">Close</a>
	<a href ng-click="closeSide()">Close Side</a>
	<a href ng-click="refresh()">Refresh</a>
	<a href ng-click="toggleAction()">Toggle Action</a>
	<a href ng-click="getInstances()">Get Instances</a>
	<a href ng-click="destroy()">Destroy All Instances</a>
	<a href ng-click="closeAll()">Close All Instances</a>
</div>



<style>
.links a {
	display: block;
	padding: 5px;
}
</style>